{% extends "base.jinja2" %}

{% block title %}
{{environment.name}}
{% endblock title %}

{% block content %}

<div class="row">
    <div class="col mt-3">
        <h5 class="card-title float-start">Install a bundle of apps to {{environment.name}}</h5>
        <a class="btn btn-dark float-end" href="{{ relative_url_for('env_detail', testenv_name=environment.name) }}"><i
                class="bi bi-escape"></i>
            Back</a>
    </div>
</div>

<div class="row">
    <div class="col mt-2">
        <form action="{{ relative_url_for('deploy_bundle', env_name=environment.name) }}" method="post"
            class="needs-validation" novalidate>
            <div class="row">

                {% for bundle in available_bundles %}
                <div class="col-4 mb-3">
                    <div class="card">
                        <div class="card-body">

                            <h5 class="card-title float-start">{{ bundle.name }}</h5>
                            {% if bundle.name in installed_bundles %}
                            <button disabled type="button" class="btn btn-success btn-sm float-end"><i
                                    class="bi bi-check-circle"></i>
                                Installed</button>
                            {% else %}
                            <input name="bundle_name" value="{{ bundle.name }}" type="submit"
                                class="btn-check pull-right" id="bundle-check-{{bundle.name}}" autocomplete="off">
                            <label class="btn btn-sm btn-outline-light float-end" for="bundle-check-{{bundle.name}}"><i
                                    class="bi bi-plug-fill"></i>
                                Install</label><br>
                            {% endif %}
                        </div>

                        <div class="card-body">
                            <p class="card-text text-muted">{{ bundle.description }}</p>
                            <h6 class="card-title">Apps</h6>

                            <ul class="list-group list-group-flush small">
                                {% for app in bundle.apps %}
                                <li class="list-group-item">
                                    {{ app }}
                                    {% if app in installed_apps %}
                                    <span class="badge bg-success rounded-pill float-end"><i
                                            class="bi bi-check-circle"></i>
                                    </span>

                                    {% endif %}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </form>
    </div>
</div>

{% endblock content %}